{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
	<link rel="stylesheet" type="text/css" href="{% static "c.css" %}">

</head>
<body>

	<h1 class="h">Sign up</h1>

	<form  id="sign_in" onsubmit="return false;">
		<label>Name:</label> 
		<input type="text" name="name" id="name" >
		<br>
		<br>
		<label>Admission ID:</label> 
		<input type="text" name="admission" id="admission" >
		<br>
		<br>
		<label>Email:</label> 
		<input type="text" name="email" id="email" >
		<br>
		<br>

		<label for="pass">password:</label>
		<input type="password" >
		<br>
		<button id="signin" onclick="get_element_signup()">login</button>
		{% csrf_token %}
	</form>
	<p id="output"> test</p>


</body>	
	
	<script type="text/javascript" src="{% static 'ja.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</html>