{% extends 'tc_admin/base.html' %}
{% block body %}
<div id="wrapper">

<!-- Navigation -->
{% include 'tc_admin/navbar.html' %}

<script type="text/javascript">
$( document ).ready(function() {

    $('#cloneQuestion').click(function(){

      // get the last DIV which ID starts with ^= "klon"
      var $div = $('div[id^="question"]:last');

      // Read the Number from that DIV's ID (i.e: 3 from "klon3")
      // And increment that number by 1
      var num = parseInt( $div.prop("id").match(/\d+/g), 10 ) +1;

      // Clone it and assign the new ID (i.e: from num 4 to ID "klon4")
      var $klon = $div.clone().prop('id', 'question'+num );

      // Finally insert $klon wherever you want
      $div.after( $klon );
      //clearing old responses
      $("#question"+(num)+" textarea").val("");
      $("#question"+(num)+" input").val("");
      // $("#question"+(num)+" input[type=checkbox]").prop('checked', false);
      // $("#question"+(num)+" input[type=checkbox]").attr('name', 'check'+(num));
      $("#question"+(num)+" #num_title").text(num);

    });
});
</script>

<!-- Page Content -->
<div id="page-wrapper" style="min-height: 903px;">
    <div class="container-fluid">
        <form action="/tcadmin/create_test_form/" method="POST">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Create Test
                        <input type="submit" class="btn btn-success pull-right">
                    </h1>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Create a new Test
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Test Title</label>

                                                <input type="text" name="test_title" class="form-control">

                                                <p class="help-block">Example: Data Structures</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea class="form-control" rows="3" name="test_des"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Test Date</label>
                                                <input type="date" class="form-control" name="test_date">
                                            </div>
                                            <div class="form-group">
                                                <label>Test Date</label>
                                                <input type="time" class="form-control" name="test_time">
                                            </div>
                                            <div class="form-group">
                                                <label>Duration</label>
                                                <input type="number" class="form-control" name="test_duration">
                                            </div>
                                            <!--div class="form-group">
                                                <label>Tags</label>
                                                <input class="form-control" name="test_tags">
                                            </div-->
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Add Questions
                                <div class="pull-right">
                                    <button id="cloneQuestion" type="button">Add Question</button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="question1" class="row" style="margin-top: 20px;">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Question #<span id="num_title">1</span></label>
                                            <textarea name="question" class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Options</label>
                                            <div class="row">
                                                <div class="col-lg-4 col-lg-offset-1">
                                                    A: <input name="A">
                                                </div>
                                                <div class="col-lg-4">
                                                    B: <input name="B">
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 20px;">
                                                <div class="col-lg-4 col-lg-offset-1">
                                                    C: <input name="C">
                                                </div>
                                                <div class="col-lg-4">
                                                    D: <input name="D">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-3">
                                           <label for="selectAns">Correct Answer</label>
                                           </div>
                                           <!--div class="col-lg-3">
                                            <!<label class="checkbox-inline"><input type="checkbox" value="A" name="ans">A</label>
                                            <label class="checkbox-inline"><input type="checkbox" value="B" name="ans">B</label>
                                            <label class="checkbox-inline"><input type="checkbox" value="C" name="ans">C</label>
                                            
                                           <label class="radio-inline"><input type="radio" name="A" value="A">A</label>
                                           <label class="radio-inline"><input type="radio" name="B" value="B">B</label>
                                           <label class="radio-inline"><input type="radio" name="C" value="C">C</label>
                                           <label class="radio-inline"><input type="radio" name="D" value="D">D</label>>
                                           </div-->
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-3">
                                                <select id="selectAns" class="form-control" name="answer">
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                    <option value="C">C</option>
                                                    <option value="D">D</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
            </div>
        </form>
    </div>
</div>

{% endblock %}



