{% extends 'tc_admin/base.html' %}
{% block body %}
<div id="wrapper">

<!-- Navigation -->
{% include 'tc_admin/navbar.html' %}

<!-- Page Content -->
<div id="page-wrapper" style="min-height: 903px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Create Test</h1>
                        <!--The Question panel-->

                
            </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
{% endblock %}



