{% extends 'tc_admin/base.html' %}
{% block body %}

<div id="wrapper">

    <!-- Navigation -->
    {% include 'tc_admin/navbar.html' %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-book fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div style="font-size: 150%;">Create Test</div>
                            </div>
                        </div>
                    </div>
                    <a href="/tcadmin/create_test/">
                        <div class="panel-footer">
                            <span class="pull-left">Create Test</span>
                            
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Tasks!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>New Orders!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Support Tickets!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>           

                        <!-- /.panel-heading -->
                        <div class="row">
                            <div class="col col-md-6"> 
                                <div id="piechart"></div>
                                <script type="text/javascript">
                                    // Load google charts
                                    google.charts.load('current', {'packages':['corechart']});
                                    google.charts.setOnLoadCallback(drawChart);

                                    // Draw the chart and set the chart values
                                    //pi chart representing no of users attended per test 
                                    function drawChart() {
                                    var data = google.visualization.arrayToDataTable([
                                    ['Test', 'Correct answers'],
                                    ['TEST 1', 8],
                                    ['TEST 2', 2],
                                    ['TEST 3', 5],
                                    ['TEST 4', 2],
                                    ['TEST 5', 8],
                                    ['TEST 6', 4]
                                    ]);

                                    // Optional; add a title and set the width and height of the chart
                                    var options = {
                                        'is3D':true,
                                        'title':'Nunmber of students Attended Per Test',
                                        'width':550, 
                                        'height':400};

                                    // Display the chart inside the <div> element with id="piechart"
                                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                                    chart.draw(data, options);
                                    }
                                </script><!-- /.panel -->
                            </div> 
                            <div class="col col-md-7">
                                <p>hello</p>
                                
                            </div>   
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8">
                                <script>
                                    window.onload = function () {

                                    var chart = new CanvasJS.Chart("chartContainer", {
                                        theme: "dark2",
                                        exportFileName: "Doughnut Chart",
                                        exportEnabled: true,
                                        animationEnabled: true,
                                        title: {
                                            text: "Number Of Students Attended Per Stream",
                                            fontSize:25
                                        },
                                        // subtitles: [{
                                        //     text: "United Kingdom, 2016",
                                        //     fontSize: 16
                                        // }],
                                        // legend:{
                                        //  cursor: "pointer",
                                        //  itemclick: explodePie
                                        // },
                                        data: [{
                                            type: "doughnut",
                                            innerRadius: 40,
                                            showInLegend: true,
                                            toolTipContent: "<b>{name}</b>: {y} ",
                                            indexLabel: "{name} - #percent% ({y})",
                                            radius: 80,
                                            //yValueFormatString: "###0.0\"%\"",
                                            click: explodePie,
                                            dataPoints: [
                                                { y: 450, name: "EC" },
                                                { y: 120, name: "CS" },
                                                { y: 300, name: "EEE" },
                                                { y: 800, name: "BE" }
                                            ]
                                        }]
                                    });
                                    chart.render();

                                    function explodePie(e) {
                                        for(var i = 0; i < e.dataSeries.dataPoints.length; i++) {
                                            if(i !== e.dataPointIndex)
                                                e.dataSeries.dataPoints[i].exploded = false;
                                        }
                                    }
                                     
                                    }
                                </script>
                                <div id="chartContainer" style="height: 370px; width: 100%;">
                                    
                                </div>
                                   
                                 </div>
                               
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                
                            </div>
                       
                        </div>
                        
                    </div> 
                    
                        <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock %}


